<div  class="landing-block">

    <div class="container">
        <div class="img-container">
             <img src="assets/medailleOlympique4.png" alt=""> 
             <img src="assets/medailleOlympique7.png" alt="">     
             <img src="assets/medailleOlympique3.png" alt="">   
         </div>
         <p>
            Les Jeux olympiques (JO), aussi appelés Jeux olympiques modernes, puisqu'ils prolongent la tradition des jeux olympiques de la Grèce antique, sont des événements sportifs internationaux majeurs, regroupant les sports d’été ou d’hiver, auxquels des milliers d’athlètes participent à travers différentes compétitions tous les quatre ans, pour chaque olympiade moderne.

    Originellement tenus dans le centre religieux d’Olympie, dans la Grèce antique du viiie siècle av. J.-C. au ive siècle apr. J.-C., les Jeux sont rénovés par le baron français Pierre de Coubertin en 1894 lorsqu’il fonde le Comité international olympique (CIO). Depuis lors, le CIO est devenu l’organisation gouvernant le mouvement olympique dont la structure et les décisions sont définies par la Charte olympique.

    Les premiers Jeux olympiques modernes se déroulent en 1896 à Athènes, et l'instauration des Jeux olympiques d'hiver date de 1924 à Chamonix. Ils ont lieu la même année tous les quatre ans, souvent dans le même pays sous réserve qu'il possède un territoire montagneux, puis sont décalés de deux ans à partir de 1994n 1. Annulés en 1916, 1940 et 1944 pour cause de guerres mondiales, les Jeux ont vu leur édition de 2020 reportée d'un an en raison de la pandémie de Covid-19.
        </p>
   </div>
    
  <!--  <div class="landing-link"></div> -->
  <!--  <div>
        <button>Medailles olympiques par pays</button>
    </div> -->
    

</div>  