header{
background-color:white;

}
header h1{
    color: #242424;
    text-align: center;
}

header nav{
    display: flex;
    justify-content: center;
    padding-bottom: 7.5px;
}

a{
    color: #242424;
    text-decoration: none;
    margin-left:  100px;
    font-size: 1.5em;
    padding-bottom: 15px;
}


a:hover{
    text-decoration:underline;
}

.entete-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-left: 10px;
}