<header>
    <div style="display: grid; grid-template-columns: auto repeat(1, 1fr) auto; ">
        <div style="grid-column: 1;">
            <img src="assets/logo_olympique.jpg" alt="Logo Gauche">
        </div>

        <div style="grid-column: 3; text-align: right;">
            <img src="assets/logo_olympique.jpg" alt="Logo Droite">
        </div>
    </div>

    <h1>Médaille olympique</h1>
    
    <nav >
        <a routerLink="" href="">Home</a>
        <a routerLink="alldiscipline" href="">Discipline sportive</a>
        <a routerLink="allmedaille">Médailles</a>
        <a routerLink="allpays" href="">Pays participants</a>
    </nav>
 </header>
