<header>
    <div style="display: grid; grid-template-columns: auto repeat(1, 1fr) auto; ">
        <div style="grid-column: 1;">
            <img src="assets/logo_olympique.jpg" alt="Logo Gauche">
        </div>

        <div style="grid-column: 3; text-align: right;">
            <img src="assets/logo_olympique.jpg" alt="Logo Droite">
        </div>
    </div>

    <h1>Médaille olympique</h1>
    
    <div >
        <a href="">Home</a>
        <a href="">Discipline sportive</a>
        <a href="">Médailles</a>
        <a href="">Pays participants</a>
    </div>
 </header>
