<footer>
    <div class="pied-de-page">
       
        <a href=""  class="pied-de-page-logo">
            <img src="assets/logo_olympique_small2.jpg" alt="logo" title="logo olympique" target="_blank"> 
        </a>

        <a href="https://twitter.com/" class="pied-de-page-twitter" target="_blank"> 
            <img src="assets/twitter.png" alt="twitter_logo" title="twitter logo">
        </a>

        <a href="https://www.instagram.com/"  class="pied-de-page-insta" target="_blank">
            <img src="assets/instagram.png" alt="instagram_logo" title="instagram logo">               
        </a> 
    </div>
</footer>

