<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

<div class="app-discipline-single-card">
    
    <div  style="text-align: center;"> 
        <h1 style="display: inline;">{{discipline.nom}} </h1>  
     </div> 
    
    <div> 
        <img class="img-discipline-single" src="{{discipline.url}}" alt="Url medaille">      
    </div> 

    

    <div class="description">{{discipline.histoire}}</div>
</div>  