<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

<div class="app-discipline-card">

   <div  style="text-align: center;"> 
       <h2 style="display: inline;">{{current_discipline.nom}} </h2>  
    <!--   <h3 style="display: inline;"> {{current_discipline.type}} </h3> -->
    </div> 

    <div> 
        <a class="container" href="alldiscipline/{{current_discipline.id}}">
            <img class="img-discipline" src="{{current_discipline.url}}" alt="Url medaille">
            <div class="text-overlay">Voir détail</div> 
        </a> 
    </div> 

   <!-- <button>View</button> 
    <h2>  {{current_medaille.paysAthlete}}, ({{current_medaille.annee}}) </h2> 
    -->
</div>